<%= form_for(@my_name) do |f| %>
  <% if @my_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_name.errors.count, "error") %> prohibited this my_name from being saved:</h2>

      <ul>
      <% @my_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit "Write your name in color"%>
  </div>
<% end %>
