<p id="notice"><%= notice %></p>

<h1>Listing My Names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_names.each do |my_name| %>
      <tr>
        <td><%= my_name.name %></td>
        <td><%= my_name.color %></td>
        <td><%= link_to 'Show', my_name %></td>
        <td><%= link_to 'Edit', edit_my_name_path(my_name) %></td>
        <td><%= link_to 'Destroy', my_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My name', new_my_name_path %>
